@media screen and (max-width: 569px) {

body {
	padding-top: 0;
}

/*= Generic styles
-----------------------------------------*/
.mobile-hide,
.tablet-hide,
.desktop-hide {
	display: inherit !important;
}

.mobile-hide {
	display: none !important;
}

/*= Main layout
-----------------------------------------*/
#main {
	padding: 20px;
}

#page {
	width: 100%;
}

.submenu ul {
	float: none;
}

aside {
	float: none;
}

.page-title,
#content-title,
section header {
	padding: 0 0 10px 0;
}

#footer > div {
	width: 100%;
	display: none;
}

#footer .first {
	display: block;
}

/*= Main navigation
-----------------------------------------*/
.main-navigation {
	height: auto;
}

.main-navigation .mobile-menu {
	float: right;
}

.main-navigation .access {
	display: none;
	float: none;
	clear: both;
}

.main-navigation .branding h1 .title {
	margin-left: 10px;
}

.main-navigation .mobile-menu .menu {
	margin-top: 5px;
	margin-right: 5px;
	height: 30px;
	width: 30px;

	background-image: url('images/sprite.png');
	background-repeat: no-repeat;

	background-position: -19px -60px;
}

.main-navigation .access {
	position: relative;
	display: block;
	float: none;
}

.main-navigation .access .dropdown span {
	display: none;
}

.main-navigation .access .dropdown .submenu {
	position: relative;
	display: none;
	width: 100%;
	padding: 0;
	margin: 0;

	background: #383838;
	box-shadow: none;
}

.main-navigation .access .dropdown:hover:after {
	border: none;
}

.main-navigation .access .dropdown .submenu li {
	margin: 0;
}

.main-navigation .access ul li a {
	display: block;
	padding: 5px 15px 4px;

	color: #fff;
	font-size: 2.6em; /*= 26px */
	font-family: 'TradeGothicLTStdBdCnNo.20', Lucida, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
}

/*= Story box
-----------------------------------------*/
.stories-2 .story-box,
.stories-3 .story-box,
.stories-3 .story-box {
	overflow: visible;
	float: none;
	width: 70%;
	margin-bottom: 10px;
}

.story-box .title {
	left: 50%;
	bottom: 50%;
	margin: 0;
	margin-bottom: -1em;
	width: 85%; /*= (story-box width)* left + 50% */
}

}